{% extends "spirit/_base.html" %}
{% load static from staticfiles %}
{% load spirit_tags i18n %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
    <div class="search-banner has-bg">
        <div class="bg-cover">
            <img src="{% static "spirit/forum/img/cover.jpg" %}" alt="" />
        </div>
        <div class="container">
            <h1><a href="{% url "spirit:topic:private:index" %}" >{% trans "Private topics" %}</a></h1>
            <h5>{% trans "Participants" %}</h5>
            <ul class="popular-tags">
            	{% for tp in topic.topics_private.all %}
				<li>
					{% ifequal user.pk topic.user.pk %}
						<a href="{% url "spirit:topic:private:access-remove" tp.pk %}" ><i class="fa fa-times fa-3"></i> {{ tp.user.username }}</a>
					{% endifequal %}
				</li>
				{% endfor %}
				<li>
					<a style="background:purple;" href="{% url "spirit:topic:private:access-remove" topic_private.pk %}" ><i class="fa fa-times"></i>{% trans "Leave topic" %}</a>
				</li>

            </ul> <br>
            <div class="well col-md-offset-3 col-md-6">
            	{% ifequal user.pk topic.user.pk %}
					{% render_invite_form topic %}
				{% endifequal %}
            </div>
           
        </div>
    </div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="headline">{{ topic.title }}</h1>
				{% include "spirit/comment/_render_list.html" %}
				{# this can be *included* here and in topic_detail #}
		
				<div class="col-md-offset-9 col-md-3">
					{% render_paginator comments %}
					{% render_notification_form user=user topic=topic %}
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-1">
					<img class="comment-avatar" src="{% get_gravatar_url user=user size=50 %}" />
				</div>
				<div class="col-md-11">
					{% render_comments_form topic=topic %}
				</div>
				<script>
					$( document ).ready(function() {
						$( ".comment" ).bookmark( {
							csrfToken: "{{ csrf_token }}",
							target: "{% url "spirit:comment:bookmark:create" topic.pk %}",
						} );

					});
				</script>
			</div>
		</div>
	</div>
</div>
 

{% endblock %}
