{% load i18n %}
{% load static from staticfiles %}

<div id="sidebar" class="sidebar">
	<div data-scrollbar="true" data-height="100%">
		
		<ul class="nav">
			<li class="nav-header">{% trans "Show menu" %}</li>
			<li><a href="calendar.html"></a></li>


			<li class="{% ifequal active "dashboard" %} active{% endifequal %}">
				<a href="{% url "spirit:admin:index" %}">
					<i class="fa fa-calendar"></i> <span>{% trans "Dashboard" %}</span>
				</a>
			</li>
			<li class="{% ifequal active "basic_settings" %} active{% endifequal %}">
				<a href="{% url "spirit:admin:config-basic" %}">
					<i class="fa fa-calendar"></i> <span>{% trans "Basic settings" %}</span>
				</a>
			</li>
			<li class="{% ifequal active "categories" %} active{% endifequal %}">
				<a href="{% url "spirit:admin:category:index" %}">
					<i class="fa fa-calendar"></i> <span>{% trans "Categories" %}</span>
				</a>
			</li>
			<li class="{% ifequal active "topics" %} active{% endifequal %}">
				<a href="{% url "spirit:admin:topic:index" %}">
					<i class="fa fa-calendar"></i> <span>{% trans "Topics" %}</span>
				</a>
			</li>
			<li class="{% ifequal active "users" %} active{% endifequal %}">
				<a href="{% url "spirit:admin:user:index" %}">
					<i class="fa fa-calendar"></i> <span>{% trans "Users" %}</span>
				</a>
			</li>
			<li class="{% ifequal active "flags" %} active{% endifequal %}">
				<a href="{% url "spirit:admin:flag:index" %}">
					<i class="fa fa-calendar"></i> <span>{% trans "Flags" %}</span>
				</a>
			</li>
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
		</ul>
	</div>
</div>
<div class="sidebar-bg"></div>		
