{% extends "spirit/_base-admin.html" %}

{% load i18n %}

{% block title %}{% trans "Basic Settings" %}{% endblock %}

{% block content %}

{% include "spirit/admin/_side_menu.html" with active="basic_settings" %}

	<div class="content">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">{% trans "Basic Settings" %}</h4>
					</div>
					<div class="panel-body">
						<form action="." method="post">
							{% csrf_token %}
							{% include "spirit/_form.html" %}
							<input class="btn btn-sm btn-primary m-r-5" type="submit" name="post" value="{% trans "Save" %}" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}