{% load spirit_tags i18n %}

	<div class="profile-img" style="text-align:center;">
		<img class="profile-avatar" src="{% get_gravatar_url user=p_user size=200 %}" />
		<div class="profile-username"> <br>{{ p_user.username }}</div><br>
	</div> 

	<div class="profile-info">
		<ul class="profile-track col-md-12">
			<div class="col-md-4">
				<div class="col-md-12">{% trans "Joined at" %}</div>
				<div class="col-md-12">{{ p_user.date_joined|shortnaturaltime }}</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12">{% trans "Seen" %}</div>
				<div class="col-md-12">{{ p_user.st.last_seen|shortnaturaltime }}</div>
			</div>
			{% if user.st.is_administrator %}
			<div class="col-md-4">
				<div class="col-md-12">{% trans "Last IP" %}</div>
				<div class="col-md-12">{{ p_user.st.last_ip }}</div>
			</div>
			{% endif %}
		</ul>
	</div>

	{% ifequal user.username p_user.username %}
		<div class="profile-preferences" style="text-align:center;">
			<a class="button" href="{% url "spirit:user:update" %}"><i class="fa fa-cog"></i> {% trans "Preferences" %}</a>
		</div>
	{% else %}
		<div class="private-message" style="text-align:center;">
			<a class="button" href="{% url "spirit:topic:private:publish" user_id=p_user.pk %}"><i class="fa fa-envelope"></i> {% trans "Private Message" %}</a>
		</div>
	{% endifequal %}

	{% if user.st.is_administrator %}
		<div class="profile-preferences" style="text-align:center;">
			<a class="button" href="{% url "spirit:admin:user:edit" user_id=p_user.pk %}"><i class="fa fa-cog"></i> {% trans "Edit user" %}</a>
		</div>
	{% endif %}

	<ul class="tabs nav nav-tabs">
		<li class="{% ifequal active_tab 0 %}active{% endifequal %}">
			<a class="tab-link{% ifequal active_tab 0 %} is-selected{% endifequal %}" href="{% url "spirit:user:detail" pk=p_user.pk slug=p_user.st.slug %}" >{% trans "Comments" %}</a>
		</li>
		<li class="{% ifequal active_tab 1 %}active{% endifequal %}">
	 		<a class="tab-link{% ifequal active_tab 1 %} is-selected{% endifequal %}" href="{% url "spirit:user:topics" pk=p_user.pk slug=p_user.st.slug %}" >{% trans "Topics" %}</a>
	 	</li>
	 	<li class="{% ifequal active_tab 2 %}active{% endifequal %}">
	 		<a class="tab-link{% ifequal active_tab 2 %} is-selected{% endifequal %}" href="{% url "spirit:user:likes" pk=p_user.pk slug=p_user.st.slug %}" >{% trans "Likes" %}</a>
	 	</li>
	</ul>