{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<div class="panel panel-forum" style="margin:40px 0 0 0;">
				<div class="panel-heading">
					<h4 class="panel-title">{% trans "Login" %}</h4>
				</div>
				<div class="panel-body">
					<form action="." method="post">
						{% csrf_token %}
						{% include "spirit/_form.html" %}
						<!--<div class="form-group">
							<label>nifnf</label>
							<input class="form-control" type="text">
						</div>

						<label >nifnf</label>
						<input class="form-control" type="text">-->

						<div class="m-t-10">
							<button type="submit" name="post" href="" class="btn btn-theme"> {% trans "Login" %}</button>
						</div>
					</form>
				</div>
			</div>

			<div style="margin-bottom:40px;" class="comment-banner-msg">
			Si no tienes una cuenta ---> <a href="{% url "spirit:user:auth:register" %}">{% trans "Create an account" %}</a>
			</div>
		</div>
	</div>
</div> 


{% endblock %}