{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block head-extra %}
	<style>
		input[name=honeypot]{display: none;}
		label[for=id_honeypot]{display: none;}
	</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<div class="panel panel-forum" style="margin:40px 0 0 0;">
				<div class="panel-heading">
					<h4 class="panel-title">{% trans "Register" %}</h4>
				</div>
				<div class="panel-body">
					<form action="." method="post">
						{% csrf_token %}
						{% include "spirit/_form.html" %}
						<div class="m-t-10">
							<button type="submit" name="post" href="" class="btn btn-theme"> {% trans "Register" %}</button>
						</div>
					</form>
				</div>
			</div>

			<div style="margin-bottom:40px;" class="comment-banner-msg">
			Si ya tienes una cuenta ---> <a href="{% url "spirit:auth:login" %}"> Iniciar Sesión</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}