{% load i18n %}

<ul class="tabs nav nav-tabs">
	<li class="{% ifequal active_tab "open" %}active{% endifequal %}">
		<a class="tab-link{% ifequal active_tab "open" %} is-selected{% endifequal %}" href="{% url "spirit:admin:flag:opened" %}" >{% trans "Open" %}</a>
	</li>
	<li class="{% ifequal active_tab "closed" %}active{% endifequal %}">
 		<a class="tab-link{% ifequal active_tab "closed" %} is-selected{% endifequal %}" href="{% url "spirit:admin:flag:closed" %}" >{% trans "Closed" %}</a>
 	</li>
</ul>