{% load i18n %}
{% load static from staticfiles %}


<div class="search-banner has-bg">
	<div class="bg-cover">
		<img src="{% static "spirit/forum/img/cover.jpg" %}" alt="" />
	</div>
	{% if category %}
		<a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">{{ category.title }} <i class="fa fa-chevron-down"></i></a>
	{% else %}
		<a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">{% trans "All Categories" %} <i class="fa fa-chevron-down"></i></a>
	{% endif %}

	<div class="container">
		<h1>1,293 Post for discussion</h1>
		<h5>Browse by Popular Categories</h5>
		<ul class="popular-tags">
			{% for c in categories %}
				<li><a href="{{ c.get_absolute_url }}"><i class="fa fa-circle"></i> {{ c.title }}</a></li>
			{% endfor %}
			
			{% if category.parent %}
				<li><a href="{{ category.parent.get_absolute_url }}"><i class="fa fa-circle"></i> Todas las subcategorias</a></li>
			{% else %}
				<li><a href="{% url "spirit:topic:index-active" %}"><i class="fa fa-circle"></i> Todas las Categorias</a></li>
			{% endif %}
			

		</ul>
	</div>
	<div class="col-md-12">
		<div class="new-topic" style="text-align: center; margin: 18px; font-weight: 700; font-size: initial;">
			{% if category %}
				<a class="button" style="background: white; padding: 10px;" href="{% url "spirit:topic:publish" category.pk %}">Hacer Pregunta</a>
			{% else %}
				<a class="button" style="background: white; padding: 10px;" href="{% url "spirit:topic:publish" %}">Hacer Pregunta</a>
			{% endif %}
		</div>
	</div>
</div>

