{% extends "spirit/_base.html" %}
{% load static from staticfiles %}
{% load spirit_tags i18n %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}


	<div class="page-title has-bg">
		<div class="bg-cover">
			<img src="{% static "spirit/forum/img/cover3.jpg" %}" alt="" />
		</div>
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url "spirit:index" %}" >{% trans "Main" %}</a> <i class="fa fa-chevron-right"></i></li>

				{% if topic.category.parent_id %}
					<li><a href="{{ topic.category.parent.get_absolute_url }}" >{{ topic.category.parent.title }}</a> <i class="fa fa-chevron-right"></i></li>
				{% endif %}
				<li><a href="{{ topic.category.get_absolute_url }}" >{{ topic.category.title }}</a></li>
			</ul>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-forum">
						<div class="panel-heading">
								<h4 class="panel-title">
								{% if topic.is_pinned or topic.is_globally_pinned %}
									<i class="fa fa-thumb-tack"></i>
								{% endif %}
								{% if topic.is_closed %}
									<i class="fa fa-lock"></i>
								{% endif %}

								{{ topic.title }}
							</h4>

							{% if user.st.is_moderator %}
								<a href="{% url "spirit:topic:update" topic.pk %}"><i class="fa fa-pencil"></i> {% trans "edit" %}</a>
							{% elif user.pk == topic.user.pk and not topic.is_closed %}
								<a href="{% url "spirit:topic:update" topic.pk %}"><i class="fa fa-pencil"></i> {% trans "edit" %}</a>
							{% endif %}
							
						</div>
						<ul class="threads-list">
							{% if user.st.is_moderator %}
								<div class="topic-moderation js-tabs-container">
								<a style="padding: 7px 12px;" href="#" ><i class="fa fa-comments"></i> {% trans "Select comments to move" %}</a>

								{% if topic.is_removed %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:undelete" topic.pk %}" ><i class="fa fa-trash-o"></i> {% trans "Undelete topic" %}</a>
								{% else %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:delete" topic.pk %}" ><i class="fa fa-trash-o"></i> {% trans "Delete topic" %}</a>
								{% endif %}

								{% if topic.is_closed %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:unlock" topic.pk %}" ><i class="fa fa-unlock"></i> {% trans "Open topic" %}</a>
								{% else %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:lock" topic.pk %}" ><i class="fa fa-lock"></i> {% trans "Close topic" %}</a>
								{% endif %}

								{% if topic.is_pinned %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:unpin" topic.pk %}" ><i class="fa fa-thumb-tack"></i> {% trans "Unpin topic" %}</a>
								{% else %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:pin" topic.pk %}" ><i class="fa fa-thumb-tack"></i> {% trans "Pin topic" %}</a>
								{% endif %}

								{% if topic.is_globally_pinned %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:global-unpin" topic.pk %}" ><i class="fa fa-thumb-tack"></i> {% trans "Unpin topic globally" %}</a>
								{% else %}
									<a style="padding: 7px 12px;" href="{% url "spirit:topic:moderate:global-pin" topic.pk %}" ><i class="fa fa-thumb-tack"></i> {% trans "Pin topic globally" %}</a>
								{% endif %}
									
								</div>


								<div class="move-comments" style="display:none;">
									<div class="move-container">
										<label class="move-label">{% trans "Topic id" %}:</label><!--
									 --><div class="move-input"><input id="id_move_comments_topic" name="topic" type="text" value="" /></div><!--
									 --><a class="move-link js-move-comments" href="#move_to">{% trans "Move" %}</a>
									</div>
								</div>
							{% endif %}
						</ul>
					</div>
				</div>
				{% include "spirit/comment/_render_list.html" %}
			</div>
		</div>
	</div>

	<script>    
		$(document).ready(function() {
			App.init();
			ForumDetailsPage.init();
		});
	</script>



		<div class="container">
		<div class="row">
			<div class="notify">
				{% if user.is_authenticated %}
					<div class="col-md-offset-8">
						{% render_notification_form user=user topic=topic %}
					</div><br>				
					
				{% elif not topic.is_closed %}
					<div class="col-md-offset-4 col-md-4">
						<a class="button btn btn-info" style="width:100%" href="{% url "spirit:comment:publish" topic_id=topic.pk %}"> Responder </a>
					</div>
				{% endif %}
			</div>
		</div>
		</div>

	{% if user.is_authenticated %}
		{% if not topic.is_closed %}
			<div class="container">
				<div class="col-md-12">
					<div class="panel panel-forum">
						<div class="panel-heading">
							<h4 class="panel-title">Comentar</h4>
						</div>
						<div class="panel-body">
							<div class="col-md-1">
								<img class="comment-avatar" src="{% get_gravatar_url user=user size=50 %}" />
							</div>
							<div class="col-md-11">
								{% render_comments_form topic=topic %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

			<script>
				$( document ).ready(function() {
					$( ".comment" ).bookmark( {
						csrfToken: "{{ csrf_token }}",
						target: "{% url "spirit:comment:bookmark:create" topic.pk %}",
					} );

					{% if user.st.is_moderator %}
						$('.js-show-move-comments').move_comments( {
							csrfToken: "{{ csrf_token }}",
							target: "{% url "spirit:comment:move" topic.pk %}",
						} );
					{% endif %}
				});
			</script>
	{% endif %}

{% endblock %}
